* {
  box-sizing: border-box;
  border: 1px solid rgb(112, 25, 25);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(207, 202, 38, 0.688);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

p {
  font-size: 2rem;
  margin-left: 3rem;
  font-family: "Pacifico", cursive;
}

nav a {
  padding: 0.5rem 1rem;
  border: 0.15rem solid rgb(112, 25, 25);
  text-decoration: none;
  color: rgb(22, 2, 2);
  margin-right: 1rem;
}

#Hakk1 {
  background-color: rgb(112, 25, 25);
  color: aliceblue;
}
#Cont1 {
  background-color: rgb(112, 25, 25);
  color: aliceblue;
}
#Proj1 {
  background-color: rgb(112, 25, 25);
  color: aliceblue;
}
#Main1 {
  background-color: rgb(112, 25, 25);
  color: aliceblue;
}
