* {
  box-sizing: border-box;
  border: 1px solid rgb(112, 66, 25);
  background-color: rgb(102, 110, 117);
}
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 2rem;
  margin-left: 3rem;
}

nav a {
  padding: 0.5rem 1rem;
  border: 0.1rem solid rgb(35, 150, 138);
  text-decoration: none;
  color: rgb(22, 2, 2);
  margin-right: 1rem;
}
